:root {
    --primary-color: #FA7436; /* Puedes cambiar el valor a cualquier color que desees */
    --secondary-color: #FEFCFB; /* Puedes cambiar el valor a cualquier color que desees */
    --primary-font: 'Volkhov', serif; /* Fuentes primarias */
    --secondary-font: 'Poppins', sans-serif; /* Fuentes secundarias */
}

html, body {
    min-height: 100%;
    max-width: 100%;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

*{
    margin  : 0;
    padding : 0;
}

.a-menu{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: var(--secondary-font);
}

.down-arrow{
    width   : 10px;
    height  : 5px;
    margin-left: 5px;
}

.small-card-1{
    font-family : var(--secondary-font);
    font-size   : 12px;
    color       : #666666;
}

.poppins-text{
    font-family : var(--secondary-font);
    color       : #666666;
}

.orange-button{
    background-color: #FA7436;
    color           : white;
}

.orange-border-button{
    border-color    : #FA7436;
    color           : #FA7436;
}

.orange-borderles-button{
    color: #FA7436;
}

.volkhov-h1{
    font-family: Volkhov;
    font-weight: 700;
    font-size: 48px;
}

.container {
    background: var(--secondary-color);
    height: 750px;
    width: 100%;
    padding: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

.card:hover {
    filter: drop-shadow( 2px 7px 35px #FE935E33);
}

.card-img-top {
   border-radius: 8px; 
   padding: 0 0rem;
}

.img-card:hover {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.40);
}

.card2 {
    width: 370px;
    height: 447px;
    background-color: white;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #66666614;
}

.card2:hover {
    filter: drop-shadow( 2px 7px 35px #FE935E33);
}

.imgCard2 {
    width: 369px;
    height: 327px;
}

#about-container{
    width: 100%;
    height: 596px;
    margin: 0px;
    background-color: #F7F8FC;
    padding: 10% 3%;

    .card-body{
        width: 70%;
    }
}

.subTitle{
    line-height: 32px;
}

.perfilPhoto{
    position: relative;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    width: 68px;
    height: 68px;
    padding: 0;
}

.card-second{
    width: 90%;
    height: 240px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 50%;
    border: 1px solid rgba(0,0,0,.125);
    margin: -10rem 0px 0px 5rem;
    padding: 0 2rem;
}

.avion-png{
    position: absolute;
    top: 144rem;
    left: 80rem;
    width: 200px;
    height: 200px;

}


/* Estilos para section 1 y 2 */

.nav-link {
    font-family: var(--secondary-font);  
    color: #222222;
    font-size: 16px;
    font-weight: 500;  
}
.title-nav {
    color: #222222;
}
.article-explore {
    font-family: var(--secondary-font);  
    color: #222222;
    font-size: 16px;
    font-weight: 500;  
    
}

.section-odd{
    background-color: var(--secondary-color);

}

.section-even {
    background-color: #F7F8FC;
}

.text-one {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.1;
}

.text-one-middle {
    font-size: 64px;
    color: var(--primary-color);
    line-height: 1.1;
}

.text-two {
    font-size: 20px;
    font-family: var(--secondary-font);
}

.text-three {
    font-size: 48px;
    font-weight: bold;
    
}

.text-three-middle {
    font-size: 48px;
    color: var(--primary-color);
}

.text-four {
    font-size: 18px;
    font-family: var(--secondary-font);
}

.text-down {
    font-family: var(--secondary-font);  
    font-size: 12px; 
}


.card-text{
    font-family: var(--secondary-font);  
    font-size: 16px; 
}

.card-title {
    font-family: var(--secondary-font); 
    font-size: 24px;
    font-weight: 500;  
}

/* Estilos personalizados para los botones */
.custom-button1{
    background-color: white;
    color: var(--primary-color);
    width: 160px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px; 
    font-family: var(--secondary-font);
    border-color: var(--primary-color);
}

.custom-button2 {  
    background-color: var(--primary-color);      
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px; 
    font-family: var(--secondary-font);
}

.custom-button1:hover {
    color: var(--primary-color);
    background-color: white; 
    border-color: var(--primary-color);
}
.custom-button2:hover {
    color: white; 
    background-color: var(--primary-color); 
}

.icons-data svg{
    color: var(--primary-color);
}

/* Estilos para section 6 y 7 */

.poppins-text-card{
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;

}
.inter-text-card{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #999999;
}

.poppins-input-text{
    
    font-family: 'var(--secondary-font)';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      
}
.poppins-text-16{
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #666666;

}
.poppins-text-footer{
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
}
.fondo-palmera-elipse{
    background: #FA7436;
    border-radius:16px;
    background-image: url('../img/Elements.png');
    background-repeat:no-repeat;
    background-size:cover;
}
